Clase_8/WApp/WApp/Web References/com.wsbd.www/BD.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsuarios">
        <s:complexType />
      </s:element>
      <s:element name="GetUsuariosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUsuariosResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMovimientos">
        <s:complexType />
      </s:element>
      <s:element name="GetMovimientosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMovimientosResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IngresaMovimiento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id_cuenta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="id_movimiento" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="monto" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IngresaMovimientoResponse">
        <s:complexType />
      </s:element>
      <s:element name="EliminaMovimiento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id_movimiento" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminaMovimientoResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetUsuariosSoapIn">
    <wsdl:part name="parameters" element="tns:GetUsuarios" />
  </wsdl:message>
  <wsdl:message name="GetUsuariosSoapOut">
    <wsdl:part name="parameters" element="tns:GetUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="GetMovimientosSoapIn">
    <wsdl:part name="parameters" element="tns:GetMovimientos" />
  </wsdl:message>
  <wsdl:message name="GetMovimientosSoapOut">
    <wsdl:part name="parameters" element="tns:GetMovimientosResponse" />
  </wsdl:message>
  <wsdl:message name="IngresaMovimientoSoapIn">
    <wsdl:part name="parameters" element="tns:IngresaMovimiento" />
  </wsdl:message>
  <wsdl:message name="IngresaMovimientoSoapOut">
    <wsdl:part name="parameters" element="tns:IngresaMovimientoResponse" />
  </wsdl:message>
  <wsdl:message name="EliminaMovimientoSoapIn">
    <wsdl:part name="parameters" element="tns:EliminaMovimiento" />
  </wsdl:message>
  <wsdl:message name="EliminaMovimientoSoapOut">
    <wsdl:part name="parameters" element="tns:EliminaMovimientoResponse" />
  </wsdl:message>
  <wsdl:portType name="BDSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUsuarios">
      <wsdl:input message="tns:GetUsuariosSoapIn" />
      <wsdl:output message="tns:GetUsuariosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMovimientos">
      <wsdl:input message="tns:GetMovimientosSoapIn" />
      <wsdl:output message="tns:GetMovimientosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IngresaMovimiento">
      <wsdl:input message="tns:IngresaMovimientoSoapIn" />
      <wsdl:output message="tns:IngresaMovimientoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminaMovimiento">
      <wsdl:input message="tns:EliminaMovimientoSoapIn" />
      <wsdl:output message="tns:EliminaMovimientoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BDSoap" type="tns:BDSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsuarios">
      <soap:operation soapAction="http://tempuri.org/GetUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovimientos">
      <soap:operation soapAction="http://tempuri.org/GetMovimientos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IngresaMovimiento">
      <soap:operation soapAction="http://tempuri.org/IngresaMovimiento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminaMovimiento">
      <soap:operation soapAction="http://tempuri.org/EliminaMovimiento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BDSoap12" type="tns:BDSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsuarios">
      <soap12:operation soapAction="http://tempuri.org/GetUsuarios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovimientos">
      <soap12:operation soapAction="http://tempuri.org/GetMovimientos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IngresaMovimiento">
      <soap12:operation soapAction="http://tempuri.org/IngresaMovimiento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminaMovimiento">
      <soap12:operation soapAction="http://tempuri.org/EliminaMovimiento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BD">
    <wsdl:port name="BDSoap" binding="tns:BDSoap">
      <soap:address location="http://www.wsbd.com/BD.asmx" />
    </wsdl:port>
    <wsdl:port name="BDSoap12" binding="tns:BDSoap12">
      <soap12:address location="http://www.wsbd.com/BD.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>